{% extends 'M2LSiteBundle:Default:layout.html.twig' %}
{% block title %} {{ parent() }} - Galerie Photo {% endblock %}
{% block body %}  
{% stylesheets 'bundles/m2lgalerie/css/bootstrap.css' %}
<link rel="stylesheet" href="{{asset('bundles/m2lgalerie/css/bootstrap.css') }}"/>
{% endstylesheets %}
{% stylesheets 'bundles/m2lgalerie/css/bootstrap-responsive.css' %}
<link rel="stylesheet" href="{{asset('bundles/m2lgalerie/css/bootstrap-responsive.css') }}"/>
{% endstylesheets %}
{% stylesheets 'bundles/m2lgalerie/css/style.css' %}
<link rel="stylesheet" href="{{asset('bundles/m2lgalerie/css/style.css') }}"/>
{% endstylesheets %}
{% javascripts 'bundles/m2lgalerie/js/jquery-1.7.1.min.js' %}
<script type="text/javascript" src="{{asset('bundles/m2lgalerie/js/jquery-1.7.1.min.js') }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/m2lgalerie/js/jquery.nivo.slider.pack.js' %}
<script type="text/javascript" src="{{asset('bundles/m2lgalerie/js/jquery.nivo.slider.pack.js') }}"></script>
{% endjavascripts %}
{% javascripts '@M2LgalerieBundle/Resources/public/js/jquery.mobile-1.4.5.js' %}
<script type="text/javascript" src="{{asset('bundles/m2lgalerie/js/jquery.mobile-1.4.5.js') }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/m2lgalerie/js/bootstrap.min.js' %}
<script type="text/javascript" src="{{asset('bundles/m2lgalerie/js/bootstrap.min.js') }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/m2lgalerie/js/bootstrap-transition.js' %}
<script type="text/javascript" src="{{asset('bundles/m2lgalerie/js/bootstrap-transition.js') }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/m2lgalerie/js/bootstrap-carousel.js' %}
<script type="text/javascript" src="{{asset('bundles/m2lgalerie/js/bootstrap-carousel.js') }}"></script>
{% endjavascripts %}
{% javascripts '@M2LgalerieBundle/Resources/public/js/jquery.nivo.slider.pack.js' %}
<script type="text/javascript">

/* fonction pour faire pop les images miniatures */
function showPic(imgId) {
 var image = document.getElementById("imageBox"+imgId);

 image.className = "visibleImage";
 var backgroundBlack = document.getElementById("backgroundBlack");
 backgroundBlack.className = "visible";
}


/* fonction pour remove les images ayant pop, en cliquant partout dans la div "backgroundBlack" */
function hideAll(){
  $(".visibleImage").each( function(){
    $(this).addClass("displayedImage");
    $(this).removeClass("visibleImage");

  } );
  var block = document.getElementById("backgroundBlack");

 block.className = "displayedBackground";

}
</script>
{% endjavascripts %}  

<div id="container" class="container">
    <div id="backgroundBlack" onclick="hideAll()"></div>
    
    <hr>
    <!-- Mise en place des miniatures (pour les pop up) -->
    <div id="popupImage">
    {% for galerieAdmin in galerieList|slice(5,15) %}
    
      <!-- Pop Up Miniature -->
    	<button onclick="showPic({{ loop.index }})"><img class="popphoto" id="img{{ loop.index }}" src="{{ asset(galerieAdmin.AssetPath) }}" alt="{{ galerieAdmin.name }}" style="width:150px;"></button>

      <!-- déployement des pop up -->
      <div class="displayedImage" id="imageBox{{ loop.index }}"><img id="image{{ loop.index }}" src="{{ asset(galerieAdmin.AssetPath) }}"></div>
     
     

 {% endfor %}
</div>
 

{% endblock %}