{% block body %}  
{% stylesheets 'bundles/m2lgalerie/css/bootstrap.css' %}
<link rel="stylesheet" href="{{asset('bundles/m2lgalerie/css/bootstrap.css') }}"/>
{% endstylesheets %}
{% stylesheets 'bundles/m2lgalerie/css/bootstrap-responsive.css' %}
<link rel="stylesheet" href="{{asset('bundles/m2lgalerie/css/bootstrap-responsive.css') }}"/>
{% endstylesheets %}
{% stylesheets 'bundles/m2lgalerie/css/style.css' %}
<link rel="stylesheet" href="{{asset('bundles/m2lgalerie/css/style.css') }}"/>
{% endstylesheets %}
{% javascripts 'bundles/m2lgalerie/js/jquery-1.7.1.min.js' %}
<script type="text/javascript" src="{{asset('bundles/m2lgalerie/js/jquery-1.7.1.min.js') }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/m2lgalerie/js/jquery.nivo.slider.pack.js' %}
<script type="text/javascript" src="{{asset('bundles/m2lgalerie/js/jquery.nivo.slider.pack.js') }}"></script>
{% endjavascripts %}
{% javascripts '@M2LgalerieBundle/Resources/public/js/jquery.mobile-1.4.5.js' %}
<script type="text/javascript" src="{{asset('bundles/m2lgalerie/js/jquery.mobile-1.4.5.js') }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/m2lgalerie/js/bootstrap.min.js' %}
<script type="text/javascript" src="{{asset('bundles/m2lgalerie/js/bootstrap.min.js') }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/m2lgalerie/js/bootstrap-transition.js' %}
<script type="text/javascript" src="{{asset('bundles/m2lgalerie/js/bootstrap-transition.js') }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/m2lgalerie/js/bootstrap-carousel.js' %}
<script type="text/javascript" src="{{asset('bundles/m2lgalerie/js/bootstrap-carousel.js') }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/m2lgalerie/js/jquery-1.11.2.js' %}
<script type="text/javascript" src="{{asset('bundles/m2lgalerie/js/jquery-1.11.2.js') }}"></script>
{% endjavascripts %}

{% javascripts '@M2LgalerieBundle/Resources/public/js/jquery.nivo.slider.pack.js' %}
<script type="text/javascript">
$(document).ready(function() {
$('.carousel').carousel({
  interval: 4500
});

});




</script>
{% endjavascripts %}  

<div id="container" class="container">
    <div id="backgroundBlack" onclick="hideAll()"></div>
  <div class="container" id="diapoFull">
  
  <!--Start Carousel-->
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
       {% for galerieAdmin in galerieList|slice(10,15) %}
   
      <div class="item {% if loop.index  == 1 %} active {% endif %}">
        <img src="{{ asset(galerieAdmin.AssetPath) }}" alt="" class="imgDiapo">
        <div class="carousel-caption">
          <h4>{{ galerieAdmin.name }}</h4>
        </div>
      </div>
    {% endfor %}
  </div>
    
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><img src="{{ asset('bundles/m2lgalerie/images/arrow.png') }}" alt=""></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><img src="{{ asset('bundles/m2lgalerie/images/arrow2.png') }}" alt=""></a> </div>
  <!--End Carousel-->
  </div> 

{% endblock %}